body.centerImg{
    background: url('../images/succ2.png') no-repeat center fixed;
    background-size: 56%;
    background-color: white; 
  }
  
  .linlin {
    border-radius: 25px;
  
    /*box-shadow: 9px 9px 20px black;*/ 
  }

  
  #linBridges p {
    font-size: 7em;
    text-align: center;
    margin-top: 40.5%;
    font-family: 'Julius Sans One', sans-serif;
    animation: fadein 8s;
  }
  
  .image { 
    position: relative; 
    width: 100%; /* for IE 6 */
  }
  
  .sexyLin {
    border-radius: 50px; 
  }
  
  
  h6 { 
    position: absolute; 
    font-size: 1.3em; 
    top: 200px; 
    left: 0; 
    margin-left: 30px; 
    width: 100%; 
    color: white; 
  }
  
  .backgroundAbout p {
    background-color: ghostwhite; 
    opacity: 0.8;
    border-radius: 5px; 
  }
  
  #capa_1 {
    width: 100%; 
    height: auto; }
  
  .card {
    margin-left:20px; 
  }
  
  .hidden{
      opacity: 0;
  }
  
  .visible{
      opacity: 1;
  }
  
  div.icons {
    margin-top: 60%;
    left: 50%;

  }

  .footer-distributed{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
  
    padding: 55px 50px;
    margin-top: 80px;
    position: absolute;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left{
    width: 30%;
  }
  
  /* The company logo */
  
  .footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
  }
  
  .footer-distributed h3 span{
    color:  #8FBC8F;
  }
  
  /* Footer links */
  
  .footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
  }
  
  .footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
  }
  
  .footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center{
    width: auto;
  }
  
  .footer-distributed .footer-center i{
    background-color:  #707f88;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:-5%;
  }
  
  .footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
  }
  
  .footer-distributed .footer-center p a{
    color:  #5383d3;
    text-decoration: none;;
  }
  
  
  /* Footer Right */
  
  .footer-distributed .footer-right{
    width: 20%;
    margin-left: 10%;
  }
  
  .footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons{
    margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;
  
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
  
    margin-right: 3px;
    margin-bottom: 5px;
  }
  
  /* If you don't want the footer to be responsive, remove these media queries */
  
  
  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  /* Firefox < 16 */
  @-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  /* Internet Explorer */
  @-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  /* Opera < 12.1 */
  @-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  @media (max-width: 880px) {

    .footer-distributed{
      font: bold 14px sans-serif;
    }
  
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
  
    .footer-distributed .footer-center i{
      margin-left: 0;
    }
  
  }

/*1200*/
@media screen and (max-width: 1200px) {


}

/*980px*/

@media screen and (max-width:980px) {

  
  }

/*768PX*/
@media screen and (max-width:768px) {

  
  }


/*640PX*/
@media screen and (max-width:640px) {

}

/*414px*/
@media screen and (max-width:414px) {
  body.centerImg {
    background: url('../images/succ2.png') no-repeat center fixed;
    background-size: 146%;
    background-color: ghostwhite;
}
  .navbar {
    width: 126%;
}
#linBridges p {
  font-size: 2.1em;
  /* text-align: center; */
  margin-top: 174.5%;
  margin-left: 59px;
  margin-right: -47px;
  font-family: 'Julius Sans One', sans-serif;
  animation: fadein 8s;
}

.linlin {
  border-radius: 25px;
  margin-left: -17px;
  /* box-shadow: 9px 9px 20px black; */
}

.backgroundAbout p {
  background-color: ghostwhite;
  opacity: 0.8;
  width: 134%;
  margin-left: 7px;
  margin-top: 23px;
  border-radius: 5px;
}

.card {
    margin-left: 83px;
    margin-top: 99px;
}

.footer-distributed {
  position: absolute;
  width: 126%;
}

.footer-distributed .footer-right{
  margin-left: 0%;
}

}


/*375px*/
@media screen and (max-width:375px) {

  body.centerImg {
    background: url('../images/succ2.png') no-repeat center fixed;
    /* background-size: 146%; */
    background-color: ghostwhite;
}
  .navbar {
    width: 135%;
}

#linBridges p {
  font-size: 2.1em;
  text-align: center;
  margin-top: 187.5%;
  margin-left: 67px;
  margin-right: -55px;
  font-family: 'Julius Sans One', sans-serif;
  animation: fadein 8s;
}

.linlin {
  border-radius: 25px;
  margin-left: -24px;
  /* box-shadow: 9px 9px 20px black; */
}

.backgroundAbout p {
  background-color: ghostwhite;
  opacity: 0.8;
  width: 139%;
  margin-left: 3px;
  margin-top: 23px;
  border-radius: 5px;
}
.card {
  margin-left: 83px;
  margin-top: 99px;
}
.footer-distributed {
  position: absolute;
  width: 135%;
}

.footer-distributed .footer-right{
  margin-left: 0%;
}
}

/*320px*/
@media screen and (max-width:320px) {


}

/*iphoneX */
@media only screen 
and (device-width : 375px) 
and (device-height : 812px) 
and (-webkit-device-pixel-ratio : 3) {
  #linBridges p {
    font-size: 2.1em;
    text-align: center;
    margin-top: 239.5%;
    margin-left: 67px;
    margin-right: -55px;
    font-family: 'Julius Sans One', sans-serif;
    animation: fadein 8s;
  }
}

/*galaxy s5*/
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
  #linBridges p {
    font-size: 1.9em;
    text-align: center;
    margin-top: 210.5%;
    margin-left: 67px;
    margin-right: -55px;
    font-family: 'Julius Sans One', sans-serif;
    animation: fadein 8s;
}

.linlin {
  border-radius: 25px;
  width: 343%;
  margin-left: -19px;
  /* margin-right: -13px; */
  /* box-shadow: 9px 9px 20px black; */
}
 
}
  
  
  
  
  
  
  
  
